.header-logo {

  &__symbol-svg {
    @include size(rem(41));
  }

  &__text-svg {
    width: rem(176);
    height: rem(29);
  }
}

.header-menu {

  &__user-icon {
    @include size(rem(20));
  }

  &__user .list-inline-item:not(:last-child):after {
    padding: 0 rem(5);
    content: "|";

  }
}
