// Main color variables
$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #ff6b03;
$orange-dark: #ff6900;
$yellow:  #ffc107;
$green:   #048e3c;
$teal:    #20c997;
$cyan:    #17a2b8;
$grey-light: #f6f6f6;
$grey: #ededed;
$grey-dark: #7d7d7d;
$black:    #000;

$theme-colors: (
  primary: $green,
  secondary: $orange,
  secondary-dark: $orange-dark,
  success: $teal,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  border-color: $grey,
  input-border-color: $grey-dark,
  text-color: $black,
  dark-bg-color: $grey-light
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$grid-gutter-width: rem(20);

// Headings
$h3-font-size: rem(22);
$headings-margin-bottom: rem(24);

// Links
$link-hover-decoration: none;
$link-color: $black;
$link-hover-decoration: inherit;

// Borders
$border-radius: rem(8);

// Cards
$card-border-width: rem(4);
$card-border-color: map-get($theme-colors, border-color);

// Inputs
$input-btn-border-width: rem(2);
$input-border-color: map-get($theme-colors, input-border-color);
$input-box-shadow: none;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
